<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Password Strength Checker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h1>🔐 Password Strength Checker</h1>
    <form method="POST">
      <input type="password" name="password" placeholder="Enter Password" required>
      <br>
      <button type="submit">Check Strength</button>
    </form>

    {% if result %}
    <div class="results">
      <p><b>Your password has:</b></p>
      <p>🔹 {{ result.lower }} lowercase characters</p>
      <p>🔹 {{ result.upper }} uppercase characters</p>
      <p>🔹 {{ result.num }} numeric characters</p>
      <p>🔹 {{ result.space }} whitespace characters</p>
      <p>🔹 {{ result.special }} special characters</p>
      <p><b>Password Strength:</b> {{ result.strength }}/5</p>
      <p><b>Hint:</b> {{ result.remarks }}</p>
    </div>
    {% endif %}
  </div>
    <footer>
        <p>© 2025 Password Checker | Built with ❤️ using Flask by karthikeyan M</p>
    </footer>
</body>
</html>
